form(action="/message", method="post")
    h To
    input(type="text", name="messageTo")
    h Content
    textarea(name="content", cols="30", rows="10")
    input(type="submit", value="send message")