doctype html
html(lang="en")
  link(rel='stylesheet', href='/src/main/bootstrap/bootstrap.min.css', type='text/css')
  head
    include customer.html
    title test
  body
    h1 New Message
    form(action="/message", method="post")
      li
        h To
        input(type="text", name="messageTo")
      li
        h Content
      li
        |
        textarea(name="content", cols="100", rows="10")
      input(type="submit", value="send message")