doctype html
html(lang="en")
  link(rel='stylesheet', href='/src/main/bootstrap/bootstrap.min.css', type='text/css')
  head
  head
    if type == "staff"
        include staff.html
    else 
        include customer.html
    title Messaging
  body
    h1 New Message
    form(action="/message", method="post")
      li
        h To
        input(type="text", name="messageTo", cols="100", value= person) 
      li
        h Content
      li
        |
        textarea(name="content", cols="100", rows="10")
      button(type="submit", onClick="javascript:alert('Message Sent')") Send Message

    p Note - To send to multiple customers split with ';'

  
  script.
      if (type == "staff"){
         document.getElementById("messageurl").href = "http://3amigosm.azurewebsites.net/message/newmessage";
      }else{
          document.getElementById("messageurl").href = "http://3amigosm.azurewebsites.net/message/?custid" + custid ;
      }

     